 <ion-content [fullscreen]="true">
  <ion-img src="assets/LogoCK.png" class="logo" [routerLink]="['/home']"></ion-img>   
  <div>
    <ion-row class="table-row">
        <ion-col size="1">
            <ion-button  color="light">
                <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="2">
            <ion-checkbox color="warning" class="custom-checkbox" [indeterminate]="true"></ion-checkbox>
          </ion-col>
          <ion-col size="2">
            <ion-checkbox color="danger" class="custom-checkbox" [indeterminate]="true"></ion-checkbox>
          </ion-col>
          <ion-col size="2">
            <ion-checkbox color="primary" class="custom-checkbox" [indeterminate]="true"></ion-checkbox>
          </ion-col>
          <ion-col size="2">
            <ion-checkbox color="success" class="custom-checkbox" [indeterminate]="true"></ion-checkbox>
          </ion-col>
    </ion-row>
  
  
  
      
      <div class="button-container">
        <ion-button color="light">Send</ion-button>
      </div>    
    </div>
    
    <div class="divboton">
      <button class="button-Home" [routerLink]="['/menu']">Go to Menu 📃</button>
    </div>
</ion-content>
